# Node.js
node_modules/
dist/
.env
.env.local
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
*.log
*.tmp
*.swp

# Vercel / Netlify
.vercel/
.netlify/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
